<!------ Include the above in your HEAD tag ---------->

<div class=" bg">


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        *Restaurant Reviws*
        <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
      </div>

      <!-- Login Form -->
  
      <small class="form-control text-danger"  *ngIf="formSubmitAttempt && user === null && form.valid">
        {{ 'userNotFound' | translate }}
      </small>
      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <small class="form-control text-danger  "  *ngIf="formSubmitAttempt && form.get('userName').hasError('required')">
          {{ 'msg-req' | translate }} 
        </small>
       <input type="text" id="userName" class="fadeIn second"    formControlName="userName"  placeholder="{{ 'LOGIN' | translate }}">
       <small class="form-control text-danger  "  *ngIf="formSubmitAttempt && form.get('password').hasError('required')">
        {{ 'msg-req' | translate }} 
      </small>
        <input type="text" id="password" class="fadeIn second"    formControlName="password"  placeholder="{{ 'LOGIN' | translate }}">

       
        <input type="submit" class="fadeIn fourth"  value="{{ 'LOGIN_IN' | translate }}">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
       <!--  <span> <a class="underlineHover" href="#">{{ 'FORGET_PASSWORD' | translate }} </a> </span> / -->
        <span> <a class="underlineHover" routerLink="/inscription"> {{ 'SIGN_IN' | translate }} </a></span>
      </div>

    </div>
  </div>
</div>

