<!------ Include the above in your HEAD tag ---------->

<div class=" bg">


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        *Restaurant Reviws*
        <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
      </div>

      <!-- Login Form -->
      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second"    formControlName="userName" required placeholder="{{ 'LOGIN' | translate }}">
        <input type="text" id="password" class="fadeIn third" formControlName="password" required placeholder="{{ 'PASSWORD' | translate }}">
        <input type="submit" class="fadeIn fourth"  value="{{ 'LOGIN_IN' | translate }}">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <span> <a class="underlineHover" href="#">{{ 'FORGET_PASSWORD' | translate }} </a> </span> /
        <span> <a class="underlineHover" routerLink="/inscription"> {{ 'SIGN_IN' | translate }} </a></span>
      </div>

    </div>
  </div>
</div>

