.mg-bottom-15{
  margin-bottom: 15px;
}

.card {
  
  margin-bottom: 10px;
}
.with-806 {
  
  width: 806px;
}
.mg-381 {
  margin-left: 150px;
  margin-right: 7px;
}

.fit-picture {
  width: 81px;
}

.close
{
  margin-left:347px;
  margin-right: 7px;
}






