.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    margin-left: 274px;
    float: right;
    width: 513px;
}
.mg-right{
    margin-right: 3px;
}
.mg-right-292{
    margin-left: 275px;
}

.mg-bottom-20{
    margin-bottom: 20px;
}
