.body{
    background-color: #fff9f7;
}/* You can add global styles to this file, and also import other style files */
.card-header {
    background-color: #aa755d  !important;
    color: rgb(247, 247, 247) !important;
    font-size: 15px !important;
  }
  